.contact-form-wrapper {
    overflow: hidden;
}

input, textarea {
    background-color: inherit;
    border: none;
    outline: none;
    color: inherit;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px var(--primary-purple) inset !important;
}

input:-webkit-autofill{
    -webkit-text-fill-color: var(--primary-white) !important;
}

label {
    font-weight: 600;
}

.tittle-wrapper {
    display: flex;
    align-items: center;

    & > a {
        margin-left: auto;
        margin-right: 1em;
    }

    & > a > .back-arrow {
        height: 40px;
        width: 40px;
    }

    .contact-form-tittle {
        font-size: 3.5rem;
        font-weight: 400;
    }
}


.field {
    display: flex;
    align-items: center;
    gap: .5em;
    margin-top: 2em;
    margin-left: 1em;
    background-color: var(--primary-purple);
    padding: 1em;
    border: 4px solid var(--secondary-purple);
    border-radius: .75em;
    width: max-content;
    box-shadow: -.5em .5em 0 var(--secondary-purple);
    transition: all .2s;

    &:nth-child(3) {
        flex-direction: column;
        align-items: flex-start;
        border-radius: .75em;
    }

    &:focus-within {
        border: 4px solid var(--primary-white);
        transition: all .2s;
    }
}

.submit-btn {
    margin-top: 2em;
    margin-bottom: 1em;
    margin-left: 1em;
    padding: 1em;
    background-color: var(--primary-purple);
    color: inherit;
    border: 4px solid var(--secondary-purple);
    border-radius: .75em;
    box-shadow: -.5em .5em 0 var(--secondary-purple);
    transition: all .2s;

    &:hover {
        cursor: pointer;
        border: 4px solid var(--primary-white);
        transition: all .2s;
    }
}

@media (width < 740px) {
    .tittle-wrapper {
        .contact-form-tittle {
            font-size: 2.5rem;
        }
    }
}

@media (width < 560px) {
    .tittle-wrapper {
        flex-direction: column;
        align-items: flex-start;

        & > a {
            margin-left: 0;
        }
    }

    .field {
        flex-direction: column;
        align-items: flex-start;
    }
}