
.home-wrapper {
    overflow: hidden;
}

.name {
    font-size: 5rem;
    font-weight: 400;
}

.profession {
    font-size: 1.75em;
    font-weight: 400;
    position: relative;
    width: fit-content;

    &::before {
        content: "";
        position: absolute;
        height: 2px;
        width: 100%;
        background-color: var(--primary-white);
        bottom: 0;
    }
}

.primary-nav {
    margin-top: 2em;
}

.nav-list {
    list-style: none;
    display: flex;
    width: fit-content;
    padding-left: 0;
    border: 2px solid var(--primary-white);
}

.nav-item {
    position: relative;
    display: flex;
    font-size: 1.25em;
    font-weight: 500;
    text-align: center;
    color: var(--primary-white);
    z-index: 1;

    &::before, &::after {
        content: '';
        position: absolute;
        inset: 0;
        z-index: -1;
        background-color: var(--primary-white);
        transform: scale(0);
        transition: transform .2s ease-in-out, color .2s ease-in-out;
    }

    &::before {
        transform-origin: bottom left;
    }

    &::after {
        transform-origin: top right;
    }

    &:hover {
        color: var(--primary-purple);
        transition: all .2s ease-in-out;
    }

    &:hover::before {
        transform: scale(1);
        transform-origin: top left;
        transition: transform .2s ease-in-out;
    }

    &:hover::after {
        transform: scale(1);
        transform-origin: bottom right;
        transition: transform .2s ease-in-out;
    }
}

.nav-link {
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: inherit;
    padding: 1em;
}

@media (1300px < width < 1500px) {
    
    .name {
        font-size: 5vw;
    }

    .profession {
        font-size: 1.75vw;
    }

}

@media (width < 1300px) {
    .name {
        font-size: 3.5rem;
    }

    .profession {
        font-size: 1.5;
    }
}

@media (max-width: 840px) {
    .nav-list {
        flex-direction: column;
        width: 100%;
    }

    .nav-item > a {
        text-align: left;
    }

}

@media (max-width: 500px) {
    .name {
        font-size: 2.5rem;
    }
}