<div class="home-wrapper">
    <h1 class="name">Valentino Valle</h1>
    <h2 class="profession">Front-End Developer</h2>
    <nav class="primary-nav">
        <ul class="nav-list">
            <li class="nav-item"><a routerLink="" class="nav-link" >Home</a></li>
            <li class="nav-item"><a routerLink="projects" class="nav-link">Projects</a></li>
            <li class="nav-item"><a class="nav-link">Skills</a></li>
            <li class="nav-item"><a class="nav-link">About</a></li>
            <li class="nav-item"><a class="nav-link">Contact</a></li>
        </ul>
    </nav>
</div>