<ng-container *transloco="let text">
    <div class="home-wrapper">
        <h1 class="name">Valentino Valle</h1>
        <h2 class="profession">{{ text('home.profession') }}</h2>
        <nav class="primary-nav">
            <ul class="nav-list">
                <li class="nav-item"><a routerLink="" class="nav-link" >{{ text('home.nav.home') }}</a></li>
                <li class="nav-item"><a routerLink="projects" class="nav-link" >{{ text('home.nav.projects') }}</a></li>
                <li class="nav-item"><a routerLink="skills" class="nav-link" >{{ text('home.nav.skills') }}</a></li>
                <li class="nav-item"><a routerLink="about" class="nav-link" >{{ text('home.nav.about') }}</a></li>
                <li class="nav-item"><a routerLink="contact" class="nav-link" >{{ text('home.nav.contact') }}</a></li>
            </ul>
        </nav>
    </div>
</ng-container>