<ng-container *transloco="let text">
    <div class="projects-wrapper">
        <div class="tittle-wrapper">
            <h1 class="projects-tittle">{{ text('projects.tittle') }}</h1>
            <a routerLink="">
                <img class="back-arrow" src="./assets/icons/back-svgrepo-com.svg" alt="back">
            </a>
        </div>
        <!-- Project 1 -->
        <div class="projects">
            <a routerLink="zeusgym">
                <div class="project">
                    <div class="name-wrapper">
                        <h3 class="project-name">Zeus Gym</h3>
                        <svg class="chev-svg" width="800px" height="800px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path id="svg-path" d="M6 9L12 15L18 9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </div>
                    <div class="description">
                        <p class="desc-text">{{ text('projects.project.zeusGym.shortDesc') }}</p>
                    </div>
                </div>
            </a>
            <!-- Project 2 -->
            <a routerLink="appchat">
                <div class="project">
                    <div class="name-wrapper">
                        <h3 class="project-name">AppChat</h3>
                        <svg class="chev-svg" width="800px" height="800px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path id="svg-path" d="M6 9L12 15L18 9" stroke="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </div>
                    <div class="description">
                        <p class="desc-text">{{ text('projects.project.appChat.shortDesc') }}</p>
                    </div>
                </div>
            </a>
            <!-- Project 3 -->
            <a routerLink="webcrawler">
                <div class="project">
                    <div class="name-wrapper">
                        <h3 class="project-name">Web Crawler</h3>
                        <svg class="chev-svg" width="800px" height="800px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path id="svg-path" d="M6 9L12 15L18 9" stroke="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </div>
                    <div class="description">
                        <p class="desc-text">{{ text('projects.project.webCrawler.shortDesc') }}</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</ng-container>