.main-wrapper {
    min-height: 100vh;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3em;
}

.logo {
    width: 27em;
}

.router-wrapper {
    padding: 1em 3em 2em 3em;
    position: relative;
    width: 50em;

    &::before {
        content: "";
        position: absolute;
        height: 4em;
        width: 4em;
        top: 0;
        left: 0;
        border-top: 5px solid var(--primary-white);
        border-left: 5px solid var(--primary-white);
        border-radius: .25em;
    }

    &::after {
        content: "";
        position: absolute;
        height: 4em;
        width: 4em;
        bottom: 0;
        right: 0;
        border-bottom: 5px solid var(--primary-white);
        border-right: 5px solid var(--primary-white);
        border-radius: .25em;
    }
}

@media (width < 1300px) {
    
    .main-wrapper {
        flex-direction: column;
        gap: 2em;
        padding-top: 7em;
        padding-bottom: 5em;
    }

    .logo {
        width: 20em;
    }

    .router-wrapper {
        width: 80%;
    }

}

@media (width < 500px) {
    .router-wrapper {
        width: 90%;
    }
}